/*
 * Globals
 */
 *, *:before, *:after{
    box-sizing: border-box;
}

/*
 * Base structure
 */

html,
body {
    font-size: 16px;
    height: 100%;
    background-color: rgb(32, 31, 31);
}

body {
    /* box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5); */
    color: #fff;
    display: -ms-flexbox;
    display: flex;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    
}

h1 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 84px;
    text-align: center;
    margin: 0;
    padding: 20px 20px;
    color: rgb(145, 223, 117);
}

.bio {
    font-family: 'Shadows Into Light', cursive;
    font-size: 26px;
    text-align: center;   
    line-height: 2;
    letter-spacing: 1px;
    color: #fff;

}

.bio_container {
    padding: 0px 60px 0px 60px;
}
.profile {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    padding-bottom: 20px;
}







/* Links/Actions */
a,
a:focus,
a:hover {
    color: #fff;
}

.snakeColor{
    color: rgb(145, 223, 117);
}


/* Custom button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .05rem solid #fff;
}

.btn {
    color: rgb(145, 223, 117);
}

.snakeButton{
    background-color: rgb(145, 223, 117);
    border-radius: .3rem;
    color: rgb(16,16,16)
}



/* Header */

.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
    
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }
    .nav-masthead {
        float: right;
    }
}

/* Main */

.match-list{
    background-color: rgb(32, 31, 31);
    border-radius: .3rem;
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    color: white;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.modal-header{
    background-color: rgb(32, 31, 31);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5)
}
.modal-body{
    color: rgb(16,16,16);
    text-align: right;
}

.hide{
    display: none;
}


/*
 * Footer
 */
.mastfoot {
    color: rgba(255, 255, 255, .5);
    text-align: center;
}

