/*
 * Globals
 */
*, *:before, *:after{
    box-sizing: border-box;
}

/*
 * Base structure
 */
html,
body {
    font-size: 16px;
    height: 100%;
    background-color: rgba(16, 16, 16, 0.753);
}

body {
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    color: #fff;
    display: -ms-flexbox;
    display: flex;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

#map {
    height: 300px;
    width: 300px;
}

.container{
    max-width: 317px;
    margin:10px;
}

.match-list{
    background-color: rgba(199, 197, 197, 0.5);
    color: black;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}



.match-list > div:hover{
    background-color:rgba(0,209,178,0.9);
    cursor: pointer;
    border-radius:5px;
    text-align: left;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .05rem solid #fff;
}

.cover-container {
    max-width: 42em;
}

/*
 * Header
 */
.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }
    .nav-masthead {
        float: right;
    }
}

/*
 * Cover
 */
.cover {
    padding: 0 1.5rem;
}
.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}

.logo{
    background-image: ('/images/Logo-holder.png');
    
}

/*
 * Footer
 */
.mastfoot {
    color: rgba(255, 255, 255, .5);
}

.snakeColor{
    color: rgb(145, 223, 117);
}